In [1]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

In [2]:
#import file
#Hard coded file name

##csv hes been cleaned of /r and other formating that came with the PDF to XLS...

file_name = r"MP3_list_no_coma33.csv"

df = pd.read_csv(file_name, sep=",")

In [22]:
#check it
df.head()

,LAST NAME,FIRST NAME,SPECIALTY,GROUP NAME,ADDRESS,PHONE
0,ABRAMYAN,MIKAYEL,PEDIATRICS GENERAL,PEDIATRIC ASSOC MED GRP INC,4330 FULTON AVE SHERMAN OAKS CA 91423,8187841102
1,AGRAWAL,NUPUR,UCLA PEDIATRICS GENERAL / UCLA GENDER HEALTH,UCLA HEALTH SANTA MONICA MEDICINE PEDIATRICS C...,1245 16TH STREET SUITE 125 SANTA MONICA CA 90404,3103158900
2,AHMADIAN,NAZANIN,UCLA PEDIATRICS GENERAL,UCLA HEALTH CALABASAS PEDIATRICS,26585 WEST AGOURA ROAD SUITE 360 CALABASAS CA ...,8185922320
3,ALBAN,BLAKE,UCLA PEDIATRICS GENERAL,UCLA HEALTH WEST LOS ANGELES PEDIATRICS,11318 NATIONAL BOULEVARD LOS ANGELES CA 90064,3102319150
4,ANDERSON,MARTIN,UCLA PEDIATRICS GENERAL,UCLA CHILDREN'S HEALTH CENTER,200 UCLA MEDICAL PLAZA SUITE 265 LOS ANGELES C...,3108250867

In [4]:
#geocode the addresses

# Import the geocoding tool
from geopandas.tools import geocode

# Geocode addresses using Nominatim. Remember to provide a custom "application name" in the user_agent parameter!
#using arcgis as nomitim has issues with "suites" and other doctors office address issues
geo2 = geocode(df['ADDRESS'], provider='arcgis', user_agent='autogis_9999', timeout=4)

In [24]:
#check it
geo2.head()

,geometry,address
0,POINT (-118.42216 34.14958),"4330 Fulton Ave, Sherman Oaks, California, 91423"
1,POINT (-118.48546 34.02748),"1245 16th St, Ste 125, Santa Monica, Californi..."
2,POINT (-118.70374 34.14301),"26585 Agoura Rd, #360, Calabasas, California, ..."
3,POINT (-118.43219 34.02580),"11318 National Blvd, Los Angeles, California, ..."
4,POINT (-118.44705 34.06513),"200 Ucla Medical Plz, #265, Los Angeles, Calif..."

In [6]:
#join the geocoded back to the orig
joined = df.join(geo2)

In [23]:
#check it
joined.head()

,LAST NAME,FIRST NAME,SPECIALTY,GROUP NAME,ADDRESS,PHONE,geometry,address
0,ABRAMYAN,MIKAYEL,PEDIATRICS GENERAL,PEDIATRIC ASSOC MED GRP INC,4330 FULTON AVE SHERMAN OAKS CA 91423,8187841102,POINT (-118.42216 34.14958),"4330 Fulton Ave, Sherman Oaks, California, 91423"
1,AGRAWAL,NUPUR,UCLA PEDIATRICS GENERAL / UCLA GENDER HEALTH,UCLA HEALTH SANTA MONICA MEDICINE PEDIATRICS C...,1245 16TH STREET SUITE 125 SANTA MONICA CA 90404,3103158900,POINT (-118.48546 34.02748),"1245 16th St, Ste 125, Santa Monica, Californi..."
2,AHMADIAN,NAZANIN,UCLA PEDIATRICS GENERAL,UCLA HEALTH CALABASAS PEDIATRICS,26585 WEST AGOURA ROAD SUITE 360 CALABASAS CA ...,8185922320,POINT (-118.70374 34.14301),"26585 Agoura Rd, #360, Calabasas, California, ..."
3,ALBAN,BLAKE,UCLA PEDIATRICS GENERAL,UCLA HEALTH WEST LOS ANGELES PEDIATRICS,11318 NATIONAL BOULEVARD LOS ANGELES CA 90064,3102319150,POINT (-118.43219 34.02580),"11318 National Blvd, Los Angeles, California, ..."
4,ANDERSON,MARTIN,UCLA PEDIATRICS GENERAL,UCLA CHILDREN'S HEALTH CENTER,200 UCLA MEDICAL PLAZA SUITE 265 LOS ANGELES C...,3108250867,POINT (-118.44705 34.06513),"200 Ucla Medical Plz, #265, Los Angeles, Calif..."

In [8]:
#export to csv for reasons I dont recall?
joined.to_csv("MP3_Ped_Geocoded.csv")

In [9]:
#Make it a GDB
gdf = gpd.GeoDataFrame(
    joined)

In [10]:
#check that it worked
type(gdf)

geopandas.geodataframe.GeoDataFrame

In [11]:
#Check CRS
gdf.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [20]:
#Export Shapefile
#hard coded...

gdf.to_file(r'shape/test.shp')